.movie_row {
  margin-left: 10px;
}

.row_heading {
  font-size: large;
  margin-bottom: 4px;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
}

.row_poster {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 5px;
  transition: transform 60ms;
}
.row_poster:hover {
  transform: scale(1.04);
}

.row_posterLarge {
  max-height: 250px;
}

::-webkit-scrollbar {
  display: none;
}

/* MEDIA QUERIES */
/* SMALL SCREEN */
@media only screen and (max-width: 420px) {
  .row_poster {
    max-height: 85px;
  }
  .row_posterLarge {
    max-height: 220px;
  }
}
